body, html {
    height: 100%;
  }
.pic {
    position: relative;
    top: 0;
    left: 0;
    }
.bg { 
    /* The image used */
    background-image: url("/img/bg.png");
    
    /* Full width */
    height: 100%;
    width: 100%; 
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
.meteor {
    position: absolute;
    padding: 2em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
